<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>welcome to Relation!</title>

<script crossorigin
	src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin
	src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
<script
	src="https://cdn.bootcss.com/babel-standalone/6.22.1/babel.min.js"></script>
</head>
<body>

	<div id="homepage"></div>

	<div id="root"></div>

	<div id="ajax">html</div>

	<script type="text/javascript">
		var url = 'http://localhost:8083/test/ajax';
		fetch(url, {
			method : 'GET',
			mode : 'cors', // 避免cors攻击
			credentials : 'include'
		}).then(function(response) {
			//打印返回的json数据
			response.json().then(function(data) {
				document.write(data);
				console.log(data);
			});
		}).catch(function(e) {
			console.log("Oops, error");
		});
	</script>

	<script type="text/babel" src="js/index.jsx">
    </script>

	<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="log out" />
	</form>
</body>
</html>