<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />

<title>Register</title>

<link rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{css/customer/login.css}" />
<script type="text/javascript" src="js/jquery-3.3.1.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$("#homepage").click(function() {
			$(location).attr('href', '/welcome');
		})
	})
</script>
</head>

<body>
	<div class="container">
		<h3>
			<input name="homepage" type="button" id="homepage" value="HOMEPAGE">
		</h3>
		<div class="form-signin btn btn-lg btn-primary btn-block">用户注册</div>
		<form class="form-signin" th:action="@{/register}"
			th:object="${userVOFromFrontEnd}" method="post">
			<fieldset>
				<p>
					<input type="text" class="form-control" placeholder="账号"
						th:field="*{username}" />
				</p>
				<p>
					<input type="password" class="form-control" placeholder="密码"
						th:field="*{password}" />
				</p>
				<p>
					<label>&nbsp;姓名: </label> <input type="text" class="form-control"
						placeholder="姓名" th:field="*{fullName}" />
				</p>
				<p>
					<label>&nbsp;电话号码: </label> <input type="tel" class="form-control"
						placeholder="电话号码" th:field="*{phoneNumber}" />
				</p>
				<p>
					<label>&nbsp;性别: </label> <div class="form-control"><input type="radio" name="sex" value="M"
						th:field="*{sex}">男 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
						type="radio" name="sex" value="F" th:field="*{sex}">女
				</div>
				</p>
				<p>
					<label>&nbsp;生日： </label> <input type="date" value="2000-06-01"
						class="form-control" placeholder="生日" th:field="*{birthDay}" />
				</p>

				<p th:if="${registerMessage.success}" class="error-code">注册成功</p>
				<p th:if="${registerMessage.fail}" class="error-code">用户名已被注册</p>
				<p th:if="${registerMessage.error}" class="error-code">输入信息有误</p>
				<button class="btn btn-lg btn-primary btn-block" type="reset">重新输入</button>
				<button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
			</fieldset>
		</form>
	</div>
</body>
</html>