<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form action="signUp/check" method="post">
		<fieldset>
			<legend>The Sign Up For Class Member!</legend>
			<p>
				<label>UserName：</label> <input type="text" id="username" name="username"
					tabindex="1">
			</p>
			<p>
				<label>PhoneNumber：</label> <input type="text" id="phoneNumber"
					name="phoneNumber" tabindex="2">
			</p>
			<p>
				<label>PassWord：</label> <input type="password" id="password"
					name="password" tabindex="3">
			</p>
			<p id="buttons">
				<input id="reset" type="reset" tabindex="4" value="Reinput">
				<input id="submit" type="submit" tabindex="5" value="Submit">
			</p>
		</fieldset>
	</form>
</body>
</html>