server: 
  port: 8083
  tomcat:
    uri-encoding: UTF-8

spring:
  datasource:
#    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
#    url: jdbc:sqlserver://localhost:1433;DatabaseName=relation;integratedSecurity=false;sendStringParametersAsUnicode=false
#    username: sa
#    password: Password@123
    
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://127.0.0.1:5432/DBCOAST
    username: postgres
    password: hj965691203

    tomcat:
      max-active: 10
      max-wait: 5000
      test-on-borrow: true
      
  http:
    encoding:
      force: true
      enabled: true
      charset: UTF-8
      force-request: true
      force-response: true
    
  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    show-sql: true
    generate-ddl: true
    
  security:
    user:
      name: wolf
      password: hj965691203
      
  thymeleaf:
    cache: false
    mode: HTML5
    encoding: UTF-8

    
    